@charset "UTF-8";
@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-size: 20px;
    font-family: "pretendard";
    font-weight: 100;
    background-color: #E0C0A4;
    /* background-color:  #E0C0A4; */
}

.AA {
    font-size: 40px;
    font-weight: bold;
    color: #1D2362;
}

.AAA {
    font-size: 20px;
    line-height: 30px;
}
.gyeonggi{
    font-family: 'Gyeonggi_Batang_Regular';
    margin-bottom: -40px;
}
#wrap {
    min-width: 1400px;
    overflow: hidden;
    height: 11600px;
}

.bg {
    transition: all 0.5s;
    position: fixed;
    right: 30px;
    bottom: 50px;
    background: black;
    border-radius: 50%;
}

.bg:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.bg a {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    width: 51px;
    color: #fff;
}

.header_wrap {
    height: 120px;
    background-color: #E0C0A4;
    margin: auto;
}

.header_1 {
    width: 1320px;
    height: 120px;
    margin: auto;
    display: flex;
    position: relative;
    box-sizing: border-box;
    /* 1d2362 */
}

.header_1>h1 {
    padding: 36px 0;

}

.gnb {
    display: flex;
    margin-left: 30px;
}

.gnb li a {
    display: block;
    color: #1d2362;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    padding: 48px 60px;

}

.gnb li a:hover {
    background-color: #1D2362;
    color: #fff;
}

.sub_gnb {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 47px;
    right: 0;
}

.sub_gnb li a {
    font-size: 16px;
}

.sub_gnb li a:hover {
    color: #ddd;
}

.banner {
    height: 705px;
    margin: auto;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.slide {
    height: 705px;
    display: flex;
}


.con1_wrap {
    height: 1833px;
    background-color: #E0C0A4;
    margin: auto;
    box-sizing: border-box;
}

.con1 {
    width: 1320px;
    height: 1833px;
    margin: auto;
    box-sizing: border-box;
}

.con1>h1 {
    text-align: center;
    padding-top: 100px;

}

.con1>h1>img {
    border-radius: 50px;
}

.slogan {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;

}

.slogan li:hover .slogan_1 {
    opacity: 1;
    transition: all 1s;
}

.slogan_1 {
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 50px;
    opacity: 0;
    width: 409px;
    height: 502px;
    transition: all 1s;
}

.slogan>li {
    width: 409px;
    height: 502px;
    border-radius: 50px;
}

.slogan>li:hover {
    opacity: 1;
}

.slogan li h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    padding-top: 50px;
}

.slogan li:nth-child(1) {
    background: url(../image/slogan_1.png);
    color: #fff;
    line-height: 26px;
    box-sizing: border-box;
}

.slogan li:nth-child(2) {
    background: url(../image/slogan_2.png);
    color: #fff;
    line-height: 26px;
    box-sizing: border-box;
}

.slogan li:nth-child(3) {
    background: url(../image/slogan_3.png);
    color: #ffffff;
    line-height: 26px;
    box-sizing: border-box;
}

.slogan li p {
    padding-left: 70px;
    padding-top: 70px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding-top: 165px;
}

.box_1 {
    width: 719px;
    height: 382px;
    background: #9DA0BF url(../image/Vector.png) no-repeat 85%;
    color: #fff;
    box-sizing: border-box;
    padding: 49px 70px;
}

.box_1 p,
.box_2 p,
.box_3 p,
.box_4 p {
    padding-bottom: 34px
}

.box_1 h2,
.box_2 h2,
.box_3 h2,
.box_4 h2 {
    padding-bottom: 27px;
}

.box_2 {
    width: 601px;
    height: 382px;
    background: #7A7FAE url(../image/Vector3.png) no-repeat 85% 64%;
    color: #fff;
    box-sizing: border-box;
    padding: 49px 70px;
}

.box_3 {
    width: 601px;
    height: 398px;
    background: #5259A3 url(../image/Vector4.png) no-repeat 85% 55%;
    color: #fff;
    box-sizing: border-box;
    padding: 49px 70px;
}

.box_4 {
    width: 719px;
    height: 398px;
    background: #1D2362 url(../image/Vector5.png) no-repeat 85% 60%;
    color: #fff;
    box-sizing: border-box;
    padding: 49px 70px;
}

.box p {
    font-size: 20px;
}

.box h2 {

    font-size: 28px;
}

.brand_story {
    margin: auto;
    height: 700px;
    background-image: url(../image/brand_story-fixed.png);
    background-size: cover;
    background-attachment: fixed;
}

.img_1 {
    width: 1320px;
    margin: auto;
    padding-right: 620px;
}

.img_1>p {
    padding-top: 80px;
    padding-left: 290px;
    font-size: 50px;
    line-height: 70px;
    color: #fff;
    font-weight: bolder;
}

.swiss {
    padding-top: 108px;
    width: 1320px;
    height: 659px;
    margin: auto;
    display: flex;
}

.swiss_text_1 {
    padding-left: 100px;
    padding-top: 57px;
}

.swiss_text_1>.AA {
    padding-bottom: 66px;
}

.swiss_text_1>.AAA {
    line-height: 30px;
}

.swiss_text_2 {
    width: 1320px;
    margin: auto;
    padding-bottom: 60px;
}

.swiss_text_2>h1 {
    text-align: center;
    margin-bottom: 89px;
}
.swiss_water li{
    position: relative;
    width: 220px;
    height: 200px;
    line-height: 30px;
    font-size: 20px;
}
.swiss_water li img{
    position: absolute;
    top: -28px;
    left: 80px;
}

.swiss_water {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.swiss_water li {
    width: 220px;
    height: 200px;
    border-radius: 32px;
    background-color: #DBA57B;
}

.swiss_water li p {
    text-align: center;
    align-items: center;
    padding: 46px 0;
}

.best_1 {
    height: 667px;
    background-color: #ffffff67;
    text-align: center;

}

.best_1>h1 {
    padding: 60px 0;
}

.best_2 {
    width: 1320px;
    margin: 0 auto;
}

.best_2>ul {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

.best_2>ul>li {
    width: 376px;
    height: 444px;
    border-radius: 44px;
}

.best_2>ul>li:nth-child(1) {
    background: url(../image/best_1.png);
    background-size: cover;
}

.best_2>ul>li:nth-child(2) {
    background: url(../image/best_2.png);
    background-size: contain;
}

.best_2>ul>li:nth-child(3) {
    background: url(../image/best_3.png);
    background-size: contain;
}

.best_3 {
    position: relative;
    top: -240px;
    margin: auto;
    /* width: 1620px; */
}

.best_3 ul {
    display: flex;
    justify-content: space-between;
}

.best_3 ul li a:hover {
    opacity: 0.5;
}
.card{
    width: 1320px;
}

.card .swiper-slide{
   
    
    width: 376px;
    height: 444px;
    border-radius: 44px;
    overflow: hidden;
}
.pade{
    position: absolute;
    top: 0;
    left: 0;
    width: 426px;
    height: 444px;
    border-radius: 44px;
    background-color: hsla(0, 0%, 33%, 0.294);
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.pade>ul{
  padding-top: 280px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.swiper-slide:hover .pade{
  opacity: 1;
}
.card .swiper-slide img{
    width: 100%;
}



.pade_2 {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.wondu_wrap {
    background-color: #fff;
}

.wondu {
    width: 1320px;
    height: 4080px;
    margin: auto;
    padding-top: 100px;
}

.tap {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 100px;
}
span{
    text-decoration: line-through;
}
.tap li a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;

}

.tap li:nth-child(1) a {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

.tap li:nth-child(2) a {
    border: 1px solid #cfb9a1;
    background-color: #fff;
    color: #cfb9a1;
}

.tap li:nth-child(3) a {
    border: 1px solid #8f8681;
    background-color: #fff;
    color: #8f8681;
}

.tap li:nth-child(4) a {
    border: 1px solid #c86a6a;
    background-color: #fff;
    color: #c86a6a;
}

.tap li:nth-child(5) a {
    border: 1px solid #ff8a24;
    background-color: #fff;
    color: #ff8a24;
}

.tap li:nth-child(6) a {
    border: 1px solid #753a0d;
    background-color: #fff;
    color: #753a0d;
}

.tap li:nth-child(7) a {
    border: 1px solid #3e8d4b;
    background-color: #fff;
    color: #3e8d4b;
}

.tap li:nth-child(8) a {
    border: 1px solid #5259A3;
    background-color: #fff;
    color: #5259A3;
}

.tap li:nth-child(1) a:hover {
    background-color: #000;
    color: #fff;
}

.tap li:nth-child(2) a:hover {
    background-color: #cfb9a1;
    color: #fff;
}

.tap li:nth-child(3) a:hover {
    background-color: #8f8681;
    color: #fff;
}

.tap li:nth-child(4) a:hover {
    background-color: #c86a6a;
    color: #fff;
}

.tap li:nth-child(5) a:hover {
    background-color: #ff8a24;
    ;
    color: #fff;
}

.tap li:nth-child(6) a:hover {
    background-color: #753a0d;
    ;
    color: #fff;
}

.tap li:nth-child(7) a:hover {
    background-color: #3e8d4b;
    ;
    color: #fff;
}

.tap li:nth-child(8) a:hover {
    background-color: #5259A3;
    color: #fff;
}

.banner_wondu {
    width: 1320px;
    margin: auto;
    background: url(../image/background_wondu_1.png);
    height: 400px;
    margin-bottom: 150px;
}

.banner_wondu ul {
    padding-top: 170px;
    display: flex;
    justify-content: center;
    gap: 1180px;
}

.banner_wondu ul li a:hover {
    opacity: 0.5;
}

.sangpum {
    width: 1320px;

}

.sangpum_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sangpum_2 li {
    width: 300px;
    height: 540px;
    box-sizing: border-box;
    position: relative;
    
}
.sangpum_text {
    padding-top: 17px;
}

.sangpum_text h3 {
    font-size: 16px;
    padding-bottom: 11px;
}

.sangpum_pade {
    margin: auto;
    width: 300px;
    height: 320px;
    opacity: 0;
    background-color: lab(0% 0 0 / 0.417);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5;
}

.sangpum_pade>ul {
    width: 300px;
    padding-left: 33px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.sangpum_2 li:hover .sangpum_pade {
    opacity: 1;
    transition: all 0.5;
}

.B {
    border-bottom: 2px solid #000;
    padding-bottom: 11px;
    margin-bottom: 11px;
}

span {
    opacity: 0.4;
}

.sangpum_text p {
    font-size: 14px;
    margin-bottom: 27px;
}

.sangpum_3 {
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sangpum_3 li {
    width: 300px;
    height: 490px;
    box-sizing: border-box;
}

.sangpum_3 li>img {
    width: 300px;
}

.event_banner {
    width: 100%;
    height: 500px;
    margin: auto;
    background: url(../image/event_1.png) center no-repeat;
    margin-bottom: 210px;
}

.delivery {
    width: 1320px;
    height: 570px;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 210px;
}
.delivery>h1{
    text-align: center;
    margin-bottom: 56px;
}

.delivery>ul{
    display: flex;
    justify-content: space-between;
}
.delivery>ul>li{
    width: 432px;
}
.delivery>ul>li ul{
    list-style: disc;
    font-size: 20px;
    font-weight: 500;
    padding-left: 35px;
    padding-top: 23px;
}
.sns_slide {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}

/*width를 본인에 맞게 수정하여 사용하세요! --아래 3개*/
.slide_inner {
    width: 4600px;
    /*ul길이의 두배!*/
    display: flex;
    animation: rotate 12s linear infinite;
}

.slide_inner ul {
    display: flex;
    width: 1800px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    justify-content: space-around;
}

.slide_inner ul li {
    width: 361px;
    height: 509px;
    margin-right: 125px;
}

/*width를 본인에 맞게 수정하여 사용하세요!*/


.slide_inner ul li img {
    width: 100%;
}

.slide_inner:hover {
    animation-play-state: paused;
}

/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/



@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1800px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}

.footer_wrap {
    box-sizing: border-box;
    margin: auto;
    padding: 20px 0;
    background-color: #525252;
    font-size: 14px;
    color: #fff;
}

.footer_1 {
    box-sizing: border-box;
    align-items: center;
    width: 1320px;
    margin: auto;
    background-color: #525252;
    display: flex;
}

.footer_2 ul {
    padding-top: 30px;
    font-size: 14px;
    display: flex;
    gap: 30px;
    padding-bottom: 15px;
}

.footer_2 {
    padding-left: 50px;
    padding-bottom: 40px;
}

.footer_2 ul li a:hover {
    color: #cbcbcb;
}

.footer_2 p {
    line-height: 17px;
}
